{% extends "base.html" %}

{% block title %}Logged out{% endblock title %}

{% load staticfiles %}
{% block extraStyle %}{% static "style/login.css" %}{% endblock extraStyle %}

{% block content %}
<div class="messageContainer">
    <div class="messageBox">
        <p><span>Logged out.</span></p>
        <p>Thanks for spending some quality time with the Web site today.</p>
        <p>It moves automatically after <i id="sec">5</i> seconds.</p>
        <p><a href="{% url 'login' %}" id="goHomeLink">Log in again</a></p>
    </div>
</div>

<script>
var _elSec = document.getElementById("sec");
var _elLink = document.getElementById("goHomeLink");

function autoMove()
{
    _elSec.innerText = UT.toNumber(_elSec.innerText) - 1;
    
    if (UT.toNumber(_elSec.innerText) == 0)
    {
        clearInterval(_timer);
        _elLink.click();
    }
}

var _timer = setInterval(autoMove, 1000);
</script>
{% endblock content %}