{% extends "base.html" %}

{% block title %}Enter new password{% endblock title %}

{% load static %}
{% block extraStyle %}{% static "style/register.css" %}{% endblock extraStyle %}

{% block content %}
<div class="passwordResetConfirmContainer">
    {% if form.errors %}
    <div id="errorMsg">
        <p>Wrong! Please correct the error(s) below.</p>
    </div>
    <div class="space-h10"></div>
    {% endif %}
    
    {% if validlink %}
    <form action="." method="post">{% csrf_token %}
        <h1>Enter new password</h1>
        <hr/>
        <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
        
        <label for="id_new_password1"><b>New password</b></label>
        {{ form.new_password1 }}
        <div class="errorList">{{ form.new_password1.errors }}</div>
    
        <label for="id_new_password2"><b>New password confirmation</b></label>
        {{ form.new_password2 }}
        <div class="errorList">{{ form.new_password2.errors }}</div>
        
        <div class="clearfix">
            <button type="button" class="cancelBtn" onclick="history.back()">Cancel</button>
            <button type="submit" class="submitBtn">Change my password</button>
        </div>
    </form>
    
    {% else %}
    
        <h1>Invalid Link</h1>
        <hr/>
        <p>The password reset link was invalid, possibly because it has already been used.<br/>Please request a new password <a href="{% url 'password_reset' %}">reset</a>.</p>
    
    {% endif %}
</div>
{% endblock content %}