{% extends "base.html" %}

{% block title %}Password Reset{% endblock title %}

{% load static %}
{% block extraStyle %}{% static "style/register.css" %}{% endblock extraStyle %}

{% block content %}
<div class="passwordResetContainer">
    {% if form.errors %}
    <div id="errorMsg">
        <p>Wrong! Please correct the error(s) below.</p>
    </div>
    <div class="space-h10"></div>
    {% endif %}
        
    <form action="." method="post">{% csrf_token %}
        <h1>Password reset</h1>
        <hr/>
        <p>Forgotten your password?<br/>Enter your email address below, and we'll email instructions for setting a new one.</p>
        
        <label for="id_email"><b>Email address</b></label>
        {{ form.email }}
        <div class="errorList">{{ form.email.errors }}</div>
        
        <div class="clearfix">
            <button type="button" class="cancelBtn" onclick="history.back()">Cancel</button>
            <button type="submit" class="submitBtn">Reset my password</button>
        </div>
    </form>
</div>
{% endblock content %}