{% extends "base.html" %}

{% block title %}Password Change{% endblock title %}

{% load static %}
{% block extraStyle %}{% static "style/register.css" %}{% endblock extraStyle %}

{% block content %}
<div class="passwordChangeContainer">
    {% if form.errors %}
    <div id="errorMsg">
        <p>Wrong! Please correct the error(s) below.</p>
    </div>
    <div class="space-h10"></div>
    {% endif %}
        
    <form action="." method="post">{% csrf_token %}
        <h1>Password change</h1>
        <hr/>
        <label for="id_old_password"><b>Old password</b></label>
        {{ form.old_password }}
        <div class="errorList">{{ form.old_password.errors }}</div>
        
        <label for="id_new_password1"><b>New password</b></label>
        {{ form.new_password1 }}
        {% if form.new_password1.help_text %}
        <div class="help">{{ form.new_password1.help_text|safe }}</div>
        {% endif %}
        <div class="errorList">{{ form.new_password1.errors }}</div>
    
        <label for="id_new_password2"><b>New password confirmation</b></label>
        {{ form.new_password2 }}
        {% if form.new_password2.help_text %}
        <div class="help">{{ form.new_password2.help_text|safe }}</div>
        {% endif %}
        <div class="errorList">{{ form.new_password2.errors }}</div>
        
        <div class="clearfix">
            <button type="button" class="cancelBtn" onclick="history.back()">Cancel</button>
            <button type="submit" class="submitBtn">Save</button>
        </div>
    </form>
</div>
{% endblock content %}