{% extends "base.html" %}

{% block title %}Withdrawal{% endblock title %}

{% load staticfiles %}
{% block extraStyle %}{% static "style/register.css" %}{% endblock extraStyle %}

{% block content %}
<div class="withdrawContainer">
    <form action="." method="post">{% csrf_token %}
        <h1>Withdrawal</h1>
        <hr/>
        <p>Are you sure you want to withdraw your membership?</p>
        
        <div class="clearfix">
            <button type="button" class="cancelbtn" onclick="history.back()">Cancel</button>
            <button type="submit" class="submitbtn">Confirm</button>
        </div>
    </form>
</div>
{% endblock content %}