@charset "utf-8";

.homeContainer {
    margin: 20px auto;
    width: 95%;
}

.postList {
    width: 50%;
    background-color: #474e5d;
    border-radius: 5px;
}

.postListName {
    padding: 5px 0px;
    text-align: center;
}

.postListName span {
    border-radius: 15px;
    padding: 5px 25px;
    background-color: lightyellow;
}

.msgBox {
    margin: 0px 15px 0px 15px;
}
.postMenu a {
    font-size: 11px;
    color: #aaa;
}

.postMsg {
    display: inline-flex;
}

.rank {
    background-color: white;
    color: black;
    padding: 5px 10px 5px 10px;
    margin: 4px;
    border-radius: 15px;
    display: table;
    background-color: yellow;
}

.postTitle {
    background-color: white;
    padding: 5px 10px 5px 10px;
    margin: 4px;
    border-radius: 10px;
}

.postTitle:hover {
    background-color: steelblue;
}

.postTitle:hover > a {
    color: white;
}

.postTitle a {
    text-decoration: none;
}

.postViews,
.postDate {
    font-size: 10px;
    color: #aaa;
    align-self: flex-end;
    padding-bottom: 6px;
}

.pipe {
    font-size: 10px;
    color: #aaa;
    align-self: flex-end;
    padding: 0px 4px 6px 4px;
}

#chart01 {
    height: 250px;
    border: 1px solid #ddd;
    padding-bottom: 10px;
}

#chart02 {
    height: 250px;
    border: 1px solid #ddd;
    padding-bottom: 10px;
}

#chart03 {
    width: 50%;
    height: 250px;
    border: 1px solid #ddd;
    padding-top: 40px; 
}

#chart04 {
    width: 50%;
    height: 250px;
    border: 1px solid #ddd;
    padding-top: 40px; 
}

@media screen and (max-width: 650px) {
    div#postBox {
        display: block;
    }
    
    .postList {
        width: 100%;
    }
}