@charset "utf-8";

.homeContainer {
    margin: 20px auto;
    width: 95%;
}

.postListName {
    width: 50%;
    padding: 5px 0px;
}

.postList {
    width: 50%;
    padding: 10px;
    background-color: #474e5d;
    border-radius: 5px;
}

.postBox {

}

.postMsg {
    display: inline-flex;
    right: 0px;
}

.postDate {
    display: block;
    font-size: 10px;
    color: #aaa;
    align-self: flex-end;
    padding-bottom: 6px;
}

.postTitle {
    background-color: white;
    color: black;
    padding: 5px 15px 5px 10px;
    margin: 4px;
    border-radius: 10px;
    overflow: hidden;
    height: 18px;
    line-height: 22px;
}

.postTitle a {
    text-decoration: none;
}

.postMenu {
    font-size: 11px;
    color: #aaa;
    height: 18px;
    align-self: flex-end;
    padding-bottom: 2px;
    white-space: nowrap;
}

#chart01 {
    height: 250px;
    border: 1px solid #ddd;
    padding-bottom: 10px;
}

#chart02 {
    height: 250px;
    border: 1px solid #ddd;
    padding-bottom: 10px;
}

#chart03 {
    width: 50%;
    height: 250px;
    border: 1px solid #ddd;
    padding-top: 40px; 
}

#chart04 {
    width: 50%;
    height: 250px;
    border: 1px solid #ddd;
    padding-top: 40px; 
}

@media screen and (max-width: 650px) {
  .postDate, .postMenu {
    display: none;
  }
}