@charset "utf-8";

/******************************************************** 
 * Image Slide
 ********************************************************/
#slide * {
    box-sizing: border-box;
}

#slide .thumbImgs {
    overflow: hidden;
    height: 60px;
    position: relative;
}

#slide .thumbImgs:after {
    content: "";
    display: table;
    lear: both;
}

#slide .thumbImgs .thumbImg {
    float: left;
    width: 100px;
    height: 60px;
    overflow: hidden;
    margin: 0px 0.5px;
    justify-content: center;
    background-color: lightsteelblue;
}

#slide .thumbImgs .thumbImg img {
    height: 100%;
    opacity: 1;
    cursor: pointer;
    /* clip: rect(0px, 100px, 100px, 0px); */
}

#slide .thumbImgs .thumbImg img:hover,
.active {
    opacity: 0.4 !important;
}

#slide .thumbImgs .prevThumbBtn,
#slide .thumbImgs .nextThumbBtn {
    cursor: pointer;
    position: absolute;
    padding: 6px;
    color: #aaa;
    font-weight: bold;
    font-size: 14px;
    transition: 0.6s ease;
    
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#slide .thumbImgs .prevThumbBtn {
    top: 15px;
    left: 0.5px;
    border-radius: 0 5px 5px 0;
}

#slide .thumbImgs .nextThumbBtn {
    top: 15px;
    right: 0.5px;
    border-radius: 5px 0 0 5px;
}

#slide .thumbImgs .prevThumbBtn:hover,
#slide .thumbImgs .nextThumbBtn:hover {
    background-color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    color: white;
}


#slide .slideImgs {
    position: relative;
}

#slide .slideImg {
    position: relative;
}

#slide .slideImgs .slideImg img {
    width: 100%
}

#slide .slideImgs .slideImg .num {
    position: absolute;
    top: 0;
    padding: 10px 14px;
    color: #f2f2f2;
    font-size: 20px;
}

#slide .slideImgs .slideImg .desc {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

#slide .slideImgs .prevSlideBtn,
#slide .slideImgs .nextSlideBtn {
    cursor: pointer;
    position: absolute;
    /* top: 80px; */
    top: 0px;
    width: auto;
    /* height: calc(100% - 160px); */
    height: 100%;
    padding: 0px 14px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#slide .slideImgs .prevSlideBtn {
    left: 0px;
    border-radius: 0 5px 5px 0;
}

#slide .slideImgs .nextSlideBtn {
    right: 0px;
    border-radius: 5px 0 0 5px;
}

#slide .slideImgs .prevSlideBtn:hover,
#slide .slideImgs .nextSlideBtn:hover {
    background-color: rgba(0, 0, 0, 0.0);
    text-decoration: none;
}
