© Copyright 2003 - {% now "Y" %}

<button id="topBtn" title="Go to top">Top</button>

<script>
var toolBar = document.getElementById("toolBar");
var sticky = toolBar.offsetTop;
var topBtn = document.getElementById("topBtn");
topBtn.onclick = function()
{
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}

window.onscroll = function() 
{
    // When scroll down, fixing #toolBar area.
    if (window.pageYOffset >= sticky)
    {
        toolBar.classList.add("sticky");
    }
    else
    {
        toolBar.classList.remove("sticky");
    }
    
    // When scroll down, showing Progress bar.
    var winScroll   = document.body.scrollTop || document.documentElement.scrollTop;
    var height      = document.documentElement.scrollHeight - document.documentElement.clientHeight;
    var scrolled    = (winScroll / height) * 100;
    
    if (isNaN(scrolled))
    {
        scrolled = 0;
    }
    
    document.getElementById("hScrollBar").style.width = scrolled + "%";
    
    // When scroll down, showing top button.
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20)
    {
        topBtn.classList.add("show");
    }
    else
    {
        topBtn.classList.remove("show");
    }
}

window.onresize = function()
{
    window.scroll();
}
</script>