<div class="menuBox">
    <div class="space-h10"></div>
    
    <div id="menuTop">
        <i class="fas fa-history"> History</i>
        <div id="history"></div>
    </div>
    
    <div class="menuGap"></div>
    
    <div id="menuTree"></div>
    
    <div id="menuBottom"></div>
</div>

<script>
UI.loadHistory();
UI.autoOpenMenu();

function resizeMenuTree()
{
    var menuTree = document.getElementById("menuTree");
    menuTree.style.height = UI.getHeight() - menuTree.getBoundingClientRect().top - 20 + "px";
}

window.addEventListener("resize", function(event) 
{
    resizeMenuTree();
});

window.addEventListener("scroll", function(event) 
{
    resizeMenuTree();
});
</script>